$shadow: rgba(151,151,151, 0.52);
$hover: #c8c8c848;

// Global Settings 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
ul{
    list-style-type: none;
}

// Main

main{
    display: flex;
    .container{
        display: flex;
        width: 100vw;
        height: auto;
        border: 2px solid black;
        .filter{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30vw;
            height: 600px;
            padding: 20px;
            border: 2px solid blueviolet;
            .filter__district{
                width: auto;
                
                .filter__district__menu{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .content{
            display: flex;
            flex-wrap: wrap;
            width: 70vw;
            .content__item{
                width: 15vw;
                margin: 10px;
                border: 1px solid black;
                overflow: hidden;
                height: auto;
                
                .content__item__img{
                    width: inherit;
                }
                .content__item__description{

                }
            }
        }
    }
    
}