body{ 
    margin: 0; 
    
    
    } 
    nav{ 
    display: flex; 
    align-items: center; 
    } 
    nav ul{ 
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    } 
    nav ul li{ 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 1rem; 
    margin-left: 2em; 
    } 
    nav ul li a{ 
    text-decoration: none; 
    color: #707070; 
    font-weight: 700; 
    } 
    nav ul li a:hover{ 
    border-bottom:2px solid #707070; 
    } 
    header{ 
    
    display: flex; 
    
    justify-content: center; 
    align-items: center; 
    background-color: rgba(231, 231, 231, 0.486); 
    padding: 2em 0; 
    } 
    .container{ 
    display: flex; 
    justify-content: space-between; 
    width: 90%; 
    margin: 0 auto; 
    max-width: 960px; 
    
    } 
    
    .site-title{ 
    margin: 0; 
    padding: 0; 
    } 
    .site-title p{ 
    padding: 0; 
    margin: 0; 
    font-weight: 700; 
    color: #1792D2; 
    font-size: .75rem; 
    font-family: 'Ubuntu', sans-serif; 
    
    } 
    .site-title h1{ 
    font-family: 'Lora', serif; 
    padding: 0; 
    margin: 0; 
    color: #143744; 
    font-size: 2rem; 
    font-weight: 400; 
    }

    @media (max-width: 650px){
        .container{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 3em;
            

        }
        nav ul{
            flex-direction: column;
        }
        nav ul li{
            
            display: flex;
            justify-content: center;
            margin: .8em;
         }
         nav ul li a:hover{ 
            border-bottom:2px solid #707070; 
            } 
            .site-title p{
                text-align: center;
                padding-bottom: 1.5em;
            }
            .site-title h1{
                text-align: center;
            }
    

    }
