*{
    font-family: "montserrat", sans-serif;

}
body{
     margin: 0;
     padding: 0;
}
.page{
    background-color:#f1f1f1;
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex: 1;
    height: 100vh;
    position: relative;
}
.countdown-col{
    background: url(programming-1873854_1920.png) no-repeat center;
    border-right: 2px solid rgba(31, 31, 31, 0.4);
    background-size: cover;
}
.time{
    color: #fff;
    text-transform: uppercase;
    width: 40%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}
.middle{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.anim{
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #353b3f62;
    padding: 0 40px;
    height: 60px;
    overflow: hidden; 
    border-radius: 50px;
}
.links{
    top: 70%;
    left: 50%;
    position: absolute;
}
.links a{
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 60px;
    background: #353b3f62;
    
    transform: translate(-50%, -50%);
}

.line{
    text-transform: uppercase;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    
}
.line:first-child{
    animation: anime 12s infinite;
}
@keyframes anime{
    0%{
        margin-top: 0;
    }
    13%{
        margin-top: -60px;
    }
    24%{
        margin-top: -120px;
    }
    35%{
        margin-top: -180px;
    }
    47%{
        margin-top: -240px;
    }
    58%{
        margin-top: -180px;
    }
    69%{
        margin-top: -120px;
    }
    80%{
        margin-top: -60px;

    }
    100%{
        margin-top: 0;
    }

}
.time span{
    padding: 0 14px;
    font-size: 10px;

}
.time span div{
    font-size: 40px; 
}
.newsletter{
    width: 90%;

}
.newsletter h4{
    font-style: italic;
    font-size: 12px;
}
.newsletter input{
    display: block;
    margin: 12px auto;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 14px 20px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
}
.newsletter-btn{
    background: linear-gradient(125deg, #3498db, #34495e);
    color: #fff;
    cursor: pointer;
    transition: 0.4s;

}
.newsletter-btn:hover{
    opacity: 0.7;
}
.loading{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;

    border-top: 10px solid #e74c3c; 

}


@media screen and (max-width: 900px) {
    .col{
        flex: 100%;
        
    }

}