$orange: #f89d13;
$width: 15px;
$height: 15px;
$bounce_height: 30px;
// Global Settings 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    width: 100vw;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
ul{
    list-style-type: none;
}


// PRELOADER

.page-preloader{
    transition: all 1s linear;
    opacity: 1;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    background-color: #ffaa00;
    .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .text {
            color: #fff;
            display: inline-block;
            margin-left: 5px;
            font-size: 20px;
            font-weight: bold;
          }
          .bounceball {
            position: relative;
            display: inline-block;
            height: 37px;
            width: $width;
            &:before {
              position: absolute;
              content: '';
              display: block;
              top: 0;
              width: $width;
              height: $height;
              border-radius: 50%;
              background-color: #fff;
              transform-origin: 50%;
              animation: bounce 500ms alternate infinite ease;
            }
          }
      }
}

.done{
    opacity: 0;
    visibility: hidden;
}




@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: $height;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

// HEADER
header{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 75px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
    z-index: 999;
    .logo{
        font-size: 20px;
        font-weight: bold;
    }
    .navigation{
        height: 100%;
        ul{
            height: 100%;
            display: flex;
            li{
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 15px;
                a{
                    font-size: 16px;
                    letter-spacing: 0.5px;
                   
                    transition: .3s all ease;
                }
                a:hover{
                    color: $orange;
                }
                .active-menu{
                    color: rgba(0,0,0, 0.6);
                }
                .dropdown{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    justify-content: space-around;
                    background: #FFF;
                    height: 120px;
                    width: 140px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .5s ease;
                    top: 130%;
                    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
                    border-top: 2px solid $orange;
                    
                }
                
            }
            li:hover .dropdown{
                visibility: visible;
                opacity: 1;
                top: 100%;
                transform: translateY(0);
            }
            .catalog{
                a{
                    .arrow::after{
                        display: none;
                        content: "";
                        position: relative;
                        top: 13px;
                        left: 240px;
                        width: 0; 
                        height: 0; 
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid rgb(0, 0, 0);
                      }
                }
            }
            
        }
    }
    .mobile-navigation{
        display: none;
        position: fixed;
        z-index: 200;
        top:0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(163, 163, 163, 0.301);
        ul{
            position: absolute;
            top: 0;
            right: 300px;
            width: 300px;
            height: 100vh;
            padding: 75px 40px;
            background-color: #fff;
            box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
            opacity: 0;
            transition: all 15s ease;
            .dropdown{
                display: none;
                flex-direction: column;
                position: relative;
                justify-content: space-around;
                background: #FFF;
                height: 120px;
                width: 100%;
                opacity: 0;
                visibility: hidden;
                top: 20px;
                right: -120%;
                box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
                border-top: 2px solid $orange;
                
            }
            
    
            li:hover .dropdown{
                display: flex;
                visibility: visible;
                opacity: 1;
                right: 0;
                transform: translateY(0);
            }
            
            li{
                padding: 15px 0;
                a{
                    font-size: 20px;
                    color: #212529;
                }
            }
        }
        
    }
    .toggle{
        display: none;
        width: 20px;
        height: 2px;
        background-color: #000000;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all .5s ease;
    }
    .toggle::after, .toggle::before{
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: #000000;
        
    }
    .toggle::after{
        position: relative;
        top: 200%;
        transform: rotate(0deg);
        transition: all .5s ease;
    }
    .toggle::before{
        position: relative;
        top: 600%;
    }
    input[type=checkbox], #toggle{
        display: none;
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
    input[type=checkbox]:checked + label ~ .mobile-navigation {
        display: block;
        
    }
    input[type=checkbox]:checked + label ~ .mobile-navigation > ul {
        opacity: 1;
        right: 0;
        transform: translateX(0);
    }
    input[type=checkbox]:checked ~ .toggle{
        position: absolute;
        right: 0px;
        z-index: 99999;
        transform: rotate(45deg);
        
    }
    input[type=checkbox]:checked ~ .toggle::after{
        transform: rotate(90deg);
        top:0;
    }
    input[type=checkbox]:checked ~ .toggle::before{
        display: none;
    }

}

// Slider
.slider {
    ul{
        width: 100vw;
        height: 100%;
        li:first-child{
            opacity: 1;
            z-index: 100;
        }
        li {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .5s ease;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            opacity: 1;
            z-index: 101;
            position: absolute;
            text-align: center;
            color: #fff;
            
            text-shadow: rgb(0, 0, 0);
            font-size: 70px;
        }
        
        }
      }
      a.control_prev, a.control_next {
        border-radius: 10px;
        position: absolute;
        top: 48%;
        z-index: 101;
        display: block;
        padding: 10px 18px;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        opacity: 1;
        cursor: pointer;
        transition: all 0.5s ease;
      }
      a.control_prev:hover, a.control_next:hover {
        background: rgb(0, 0, 0);
        
      }
      a.control_prev {
        left: 10px;
      }
      a.control_next {
        right: 10px;
      }
  }


// Main

main{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 100%;
    background-color:#fff;
    padding: 80px 0;
    .filter{
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .select-wrap{
            width: 255px;
            margin: 5px 0;
            // .arrow::after{
            //     display: none;
            //     content: "".;
            //     position: relative;
            //     top: 13px;
            //     left: 240px;
            //     width: 0; 
            //     height: 0; 
            //     border-left: 5px solid transparent;
            //     border-right: 5px solid transparent;
            //     border-top: 5px solid rgb(0, 0, 0);
            //   }
              select{
                // appearance: none;
                cursor: pointer;
                padding: 6px 12px;
                line-height: 1.5;
                width: 100%;
                height: 47px;
                font-size: 1em;
                border: 1px solid #ced4da;
                option{
                    padding: 0px 2px 1px;
                    font-size: 1rem;
                    color: #495057;
                  }
              }
        }
        
          
          
    }
    .content{
        margin-top: 50px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: rgb(249, 249, 249);
        justify-content: center;
        align-items: center;
        .pagination{
            display: flex;
            li{
                margin: 2px;
                padding: 2px 4px;
                border: 1px solid rgba(138, 138, 138, 0.466);
                cursor: pointer;
            }
            li:hover, .active{
                border-color: red;
            }
            
        }
        .content__wrapper{
            display: flex;
            justify-content: center;
            
            flex-wrap: wrap;
            width: 90vw;
            .content__item{
                width: 300px;
                height: 300px;
                display: block;
                padding: 10px 20px;
                cursor: pointer;
                
            
                    
                        img{
                            position: relative;
                            width: 100%;
                            height: auto;
                            transition: opacity .3s ease;
                            box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.336);
                            
                        }
                

                img:hover{
                    opacity: 0.9;
                }
            }
            .content__item__text{
                position: relative;
                top:-58px;
                transform: translateY(0);
                transition: all .5s ease;
                .price{
                    font-size: 14px;
                    padding: 2px 5px;
                    color: #fff;
                    background-color: #ff9b58;
                    font-weight: bold;
                }
                h3{
                    font-size: 20px;
                    font-weight: 400;
                    color: rgb(255, 255, 255);
                    background-color: rgba(44, 44, 44, 0.329);
                    padding: 2px 5px;

                }
                .hover-description{
                    display: block;
                    background-color: #ff9b58;
                    height: 25px;
                    color: #fff;
                    font-weight: bold;
                    visibility: hidden;
                    font-size: 13px;
                    opacity: 0;
                    transition: all .5s ease;
                    padding: 2px 5px;
                }
                
            }
            .content__item:hover .content__item__text{
                top:-84px;

            }
            .content__item:hover .content__item__text .hover-description{
                visibility: visible;
                opacity: 1;
            }

        }
    }
    .content__selected-item{
        width: 90vw;
        overflow: hidden;
        display: none;
        justify-content: center;
        align-items: center;

        #selected-item-map{
            
        }
        .content__selected-item__wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img{
                width: 450px;
                height: 450px;
                margin: 10px;
                box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.336);
            }
            .info{
                width: 500px;
                height: 400px;
                display: flex;
                flex-direction: column;
                box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.336);
                padding: 20px;
                .info__text{
                    font-size: 25px;
                }
                .info__description{
                    padding: 5px;
                }
                .info__district{
                    color: white;
                    padding: 5px;
                }
                .info__price{
                    color: $orange;
                    font-weight: bold;
                    padding: 5px;
                }
                .buy{

                    width: 200px;
                    padding: 15px 0;
                    border: 2px solid $orange;
                    text-align: center;
                    font-size: 15px;
                    font-weight: bold;
                    transition: all .3s ease;
                    position: relative;
                    color: $orange;
                    
                }
                .buy:hover{
                    box-shadow: 0 2px 5px 3px $orange;
                    cursor: pointer;
                }
            }
        }
        
    }
    
    
}

// Services

#services{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    h1{
        margin-bottom: 50px;
    }
    .services__wrap{
        display: flex;
        flex-wrap: wrap;
        
        .services__item{
            margin: 0 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 180px;
            border: 1px solid #2ad641c0;
            box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.336);
            cursor: pointer;
            border-radius: 7px;
            img{
                width: 40px;
            }
            h3{
                font-size: 20px;
                text-align: center;
                padding: 10px;
                color: #000;
                font-weight: 400;
            }
        }
    }
}

// MAP 
#map{
    display: none;
    width: 100%;
    height: calc(100% - 76px);
    position: absolute;
    top: 76px;
}

